{% extends "layout.html.twig" %}
{% block title %}Modifier utlisateur{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{{ form_start(articleForm)}}

{{ form_end(articleForm)}}
<P><span>Logo actuelle : </span>
<img src="{{ asset('uploads/' ~ logo ) }}" class="img img-responsive img-rounded" width="150">
</P>
{% endblock %}