{% extends "layout.html.twig" %}

{% block title %}Un article{% endblock %}

{% block content %}
        <h2>Mes category</h2>
        {% for category in categorys %}
        <article>
            <a href ="{{ path('categoryArt', { id: category.id }) }}"><h2>{{ category.category }}</h2></a>            
        </article>
        {% endfor %}
    {% endblock %}