{% extends "layout.html.twig" %}
	
{% block title %}Résultats de votre recherche{% endblock %}
	
	{% block content %}
            <h2>Résultats</h2>

			{% for article in articles %}
			<article>
				<h2>{{ article.intervenant }}</h2>
				<h3>{{ article.title }}</h3>

			</article>
			{% endfor %}
		{% endblock %}