{% extends "layout.html.twig" %}
	
{% block title %}Résultats de votre recherche{% endblock %}
	
	{% block content %}
            <h2>Résultats</h2>

			{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<p>{{ article.content }}</p>
			</article>
			{% endfor %}
		{% endblock %}